<div class="container">
  <div class="card mt-4">
    <div class="card-body">
      <h2 class="card-title">Execute Task</h2>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="userId">User ID:</label>
          <input
            type="text"
            id="userId"
            class="form-control"
            [(ngModel)]="userId"
            name="userId"
          />
        </div>
        <br />
        <button type="submit" class="btn btn-primary" [disabled]="flag">
          Execute
        </button>
      </form>
    </div>
  </div>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Too Many Requests
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            (click)="closeModal()"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Please buy premium membership to execute more requests.</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="closeModal()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
